/* header */
.search_header {
    z-index: 9999999;
    position: fixed;
    height: 96px;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    display: flex;
    padding: 25px 33px;
    display: flex;
}

.search_header .brand {
    cursor: pointer;
    display: block;
    width: 148px;
    height: 46px;
    background: url('../../public/brand/animeshon-brand-horizontal.svg');
    margin-right: 40px;
}

@media screen and (max-width: 630px) {   
    .search_header .brand {
        width: 46px; 
        margin-right: 20px;
        background: url('../../public/brand/animeshon-brand-horizontal-small.svg');
    } 
}

.search_header .brand span {
    font-size: 12px;
    opacity: 0;
}
.search_header .search_group {
    flex: 1;
    margin-right: 30px;
}
.search_header .search_input {
    text-indent: 20px;
    max-width: 500px;
    width: 100%;
    height: 44px;
    border: 1px solid #cfcfcf;
    border-radius: 22px;
    outline: none;
}
.search_header .hamburger_icon {
    display: block;
    height: 32px;
    width: 32px;
    padding: 3px 0;
    background-color: #fff;
    appearance: none;
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    outline: none;
    cursor: pointer;
}
.search_header .hamburger_icon span {
    height: 1px;
    background-color: #7f7f7f;
    width: 100%;
    display: block;
}
.search_header .sidebar {
    transform: translateX(120%);
    transition: 300ms ease-in-out;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 260px;
    max-width: 280px;
}
.search_header .sidebar.opened {
    transform: translateX(0);
}
.search_header .sidebar ul {
    list-style: none;
}
.search_header .sidebar ul li {
    display: block;
}
.search_header .sidebar ul li a,
.search_header .sidebar ul li button {
    font-size: 14px;
    color: #656565;
    padding: 20px 30px;
    display: block;
    width: 100%;
    border: none;
    font-weight: 300;
    text-align: left;
    appearance: none;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}

.search_header .sidebar ul li a:hover,
.search_header .sidebar ul li a.selected,
.search_header .sidebar ul li button:hover {
    background-color: #f3f3f3;
    color: #000;
}

@media screen and (max-width: 1280px) {
}

/* Safe Search */
.safe_search {
    margin-left: 7px;
    font-weight: bold;
}
.safe_search.enabled {
    color: limegreen;
}

.safe_search.disabled {
    color: orangered;
}