@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
}

html {
    font-family: 'Roboto', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #06aed5;
}

p {
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5;
}

b {
    font-weight: 700;
}

footer {
    margin-top: auto;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header padder */
.header_padder {
    min-height: 96px;
}

/* common pages typography */
.text-container {
    padding: 30px 35px;
}
.text-container section {
    margin-top: 20px;
}
.text-container h1 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.text-container h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.text-container h3 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.text-container p {
    font-size: 12px;
    font-weight: 300;
    color: #4d4d4d;
}

.text-container strong {
    font-weight: 600;
}

/* buttons */
/* default */
.btn {
    border: none;
    padding: 0 10px;
    line-height: 32px;
    background-color: #cfcfcf;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

.btn.cherry-red {
    border: 1px solid #ef0c40;
    background-color: #ef0c40;
    color: #fff;
}

.btn.cyan-blue {
    border: 1px solid #06aed5;
    background-color: #06aed5;
    color: #fff;
}

.btn.cherry-red:hover {
    background-color: #fff;
    color: #ef0c40;
}

.btn.cyan-blue:hover {
    background-color: #fff;
    color: #06aed5;
}
.btn.default {
    min-width: 100px;
}
.btn.medium {
    font-size: 15px;
    width: 100px;
}
.btn.big {
    font-size: 15px;
    height: 44px;
    width: 130px;
}

.btn:disabled {
    color: #7f7f7f;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
}

.btn:disabled:hover {
    color: #7f7f7f;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
    cursor: not-allowed;
}

/* custom button only for cast card */
.btn.character-button-ref {
    width: 100%;
    height: 32px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: #1e7492;
    letter-spacing: unset;
    font-weight: 400;
    text-align: initial;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.btn.character-button-ref .character-image {
    flex: none;
    width: 30px;
    height: 30px;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border-radius: 5px;
}
.btn.character-button-ref .character-image img {
    max-width: 46px;
}
.btn.character-button-ref .character-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* default */

/* Entity Title Bar */
.entity-title-bar {
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .entity-title-bar {
        font-size: 20px;
        padding: 0;
        margin: 20px 0 30px;
    }
    .entity-title-bar h1 {
        font-weight: 500;
        font-size: 24px;
        color: #1e7492;
    }
}

/* Generic Product / Person / Character Image */

.product__breadcrumb {
    margin-bottom: 10px;
    line-height: 0.5;
}
.product__breadcrumb span {
    font-size: 12px;
    font-weight: 600;
    color: #f7f7f7;
}

.product__breadcrumb span::after {
    content: ' ';
    margin: 0 6px 1px 4px;
    width: 0;
    height: 0;
    transform: rotate(-135deg);
    display: inline-block;
    border-left: 3px solid #f7f7f7;
    border-bottom: 3px solid #f7f7f7;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}

.product__breadcrumb span:last-child::after {
    display: none;
}

.product-cover {
    min-height: 25px;
}
.product-cover__image {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}
.product-cover__image img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.product-cover .btn {
    top: 310px;
    position: absolute;
    font-weight: bold;
    left: 65px;
}

@media screen and (max-width: 768px) {
    .product-cover {
        width: 180px;
        float: left;
        margin-right: 20px;
    }
}
    
@media screen and (max-width: 1024px) {
    .product-cover .btn {
        top: 230px;
        left: 34px;
    }
}

@media screen and (max-width: 768px) {
    .product-cover .btn {
        top: 210px;
        left: 25px;
    }
}

main.landing__description {
    flex: 1;
}

.landing__details {
    width: 260px;
    min-width: 260px;
    margin-left: 35px;
    min-height: 120px;
    height: min-content;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

@media screen and (max-width: 1024px) {
    .landing__details {
        align-self: center;
        width: 100%;
        max-width: 500px;
        margin: 0;
    }
}

.landing-section-box {
    flex: 1;
    margin-bottom: 20px;
}
.landing-section-box .text_description {
    white-space: pre-wrap;
}
.landing-section-box header {
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}
.landing-section-box header h3,
.landing-section-box header h4,
.landing-section-box header a {
    flex: none;
}
.landing-section-box header span {
    content: ' ';
    width: 100%;
    margin: 0 0 4px 10px;
    border-bottom: 1px solid #e0e0e0;
}

/* Landing Section Box exceptions */
.landing-section-box.watch-links {
    margin-bottom: 20px !important;
}

/* Episode Characters Appearences exceptions */
.header-w-back-button {
    align-content: space-around !important;
}
.header-w-back-button h3 {
    text-align: center;
    flex: 1 !important;
    width: auto;
}

/* 4 slots image lists */
.characters-list,
.adaptations-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.characters-list li a span,
.adaptations-list li a span {
    color: #1e7492;
    text-transform: capitalize;
}
.characters-list li,
.adaptations-list li {
    margin: 0 10px;
    text-align: center;
    max-width: 130px;
    margin-bottom: 20px;
}
.characters-list li .cover,
.adaptations-list li .cover {
    overflow: hidden;
    max-height: 130px;
    min-width: 130px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-items: center;
}

.characters-list li .cover img,
.adaptations-list li .cover img {
    object-fit: cover;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 130px;
}

.adaptations-list li .cover {
    max-height: 180px;
}

@media screen and (max-width: 875px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 100px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 100px;
        max-height: 100px;
    }
    .adaptations-list li .cover {
        max-height: 180px;
    }
}

@media screen and (max-width: 650px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 80px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 80px;
        max-height: 80px;
    }
    .adaptations-list li .cover {
        min-height: 120px;
    }
}

@media screen and (max-width: 549px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 150px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 150px;
        max-height: 150px;
    }
    .adaptations-list li .cover {
        min-height: 206px;
    }
}

@media screen and (max-width: 400px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 119px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 119px;
        max-height: 119px;
    }
    .adaptations-list li .cover {
        min-height: 170px;
    }
    .characters-list li .cover img {
        min-height: 119px;
    }
}

/* Anime Episodes List */
.episodes-list__box,
.episode__box {
    display: flex;
    border-bottom: 1px dotted #dfdfdf;
    margin-bottom: 25px;
}

.episode__box {
    border: none;
}
.episodes-list__image,
.episode__image {
    padding: 0;
    margin: 0 20px 28px 0;
    border-radius: 5px;
    display: flex;
    flex: none;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    width: 270px;
    height: 160px;
    margin-right: 20px;
}

.episode__image {
    width: 300px;
    height: 200px;
}

.episodes-list__image img,
.episode__image img {
    height: 100%;
    object-fit: cover;
}

.episode-details__season-episode {
    margin-bottom: 8px;
    font-size: 14px;
}
.episode-details h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px;
    color: #1e7492;
}
.episode-details__length-date {
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0 10px;
}

.episode-details__description {
    margin-top: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .episodes-list__image,
    .episode__image {
        width: 200px;
        height: 120px;
    }
}

@media screen and (max-width: 650px) and (min-width: 550px) {
    .episodes-list__image,
    .episode__image {
        width: 200px;
        height: 120px;
    }
}

@media screen and (max-width: 550px) {
    .episodes-list__box,
    .episode__box {
        flex-direction: column;
    }
    .episodes-list__image,
    .episode__image {
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
    }
    .episodes-list__image img,
    .episode__image img {
        height: initial;
        width: 100%;
    }
}

/* common cards */
.grid-halves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.grid-halves {
    padding-left: 20px;
    list-style: circle;
}

/* External Platforms Links */
.grid-halves.manga-links {
    flex-direction: column;
}
.external-platform-button {
    padding: 10px 20px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: calc(25% - calc(40px / 3));
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.external-platform-button:nth-child(4n) {
    margin-right: 0;
}

.grid-halves.manga-links .external-platform-button {
    display: inline-flex;
    padding: 0;
    cursor: pointer;
}

.grid-halves.manga-links .links-row p {
    font-size: 14px;
    font-weight: 800;
    margin-top: 0;
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    .external-platform-button {
        width: calc(33% - calc(40px / 3));
    }
    .external-platform-button:nth-child(3n) {
        margin-right: 0;
    }
    .grid-halves.manga-links .external-platform-button:nth-child(3n) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .external-platform-button {
        width: calc(50% - calc(40px / 3));
    }
    .external-platform-button:nth-child(2n) {
        margin-right: 0;
    }
    /* Watch Links exceptions */
    .watch-links .grid-halves {
        display: flex;
        justify-content: center;
    }
    .grid-halves.manga-links .external-platform-button {
        width: calc(33% - calc(54px / 3));
        margin-right: 20px;
    }
}

@media screen and (max-width: 460px) {
    .grid-halves.manga-links .external-platform-button {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 440px) {
    .external-platform-button {
        width: 100%;
        margin-right: 0;
    }
}

/*  */
.view-all-link {
    margin-left: 12px;
}
.no-links-available,
.external-links {
    margin-bottom: 25px;
}

.no-links-available {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #7f7f7f;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Manga */
.manga-volumes {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    justify-content: flex-start;
    position: relative;
    left: -10px;
}
.volume-cover {
    margin: 0px 10px 30px 10px;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - calc(80px / 4));
    flex-basis: calc(25% - calc(80px / 4));
    transition: transform 300ms ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.volume-cover:hover {
    transform: scale(1.05);
}
.volume-cover img {
    width: 100%;
    height: 100%;
}

/* Manga from Chapters perspective */
.collected-in .volume-cover {
    width: calc(33% - calc(60px / 3));
    flex-basis: calc(33% - calc(60px / 3));
    position: relative;
}
.appears-on-hover {
    position: absolute;
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 10px;
    transition: background-color 300ms ease-in-out;
}

.collected-in .volume-cover:hover .appears-on-hover {
    background-color: rgba(0, 0, 0, 1);
}

.appears-on-hover h5,
.appears-on-hover p {
    color: #fff;
    margin: 5px 0;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .volume-cover {
        width: calc(33% - calc(58px / 3));
        flex-basis: calc(33% - calc(58px / 3));
    }
    .collected-in .volume-cover {
        width: calc(50% - calc(40px / 2));
        flex-basis: calc(50% - calc(40px / 2));
    }
}

@media screen and (max-width: 550px) {
    .volume-cover {
        width: calc(50% - calc(40px / 2));
        flex-basis: calc(50% - calc(40px / 2));
    }
}

@media screen and (max-width: 414px) {
    .volume-cover,
    .collected-in .volume-cover {
        width: calc(100%);
        flex-basis: calc(100%);
    }
}

/* Chapters */
.chapters-line {
    display: block;
    margin-bottom: 18px;
    width: 100%;
    line-height: 1.2;
}

/* Characters */
.picture__masonry {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;
}
.picture__masonry_home {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 1.4fr 2fr 1fr;
    grid-auto-rows: 250px;
}
.picture__masonry .tile,
.picture__masonry_home .tile {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #cfcfcf;
}
.picture__masonry .tile:hover img,
.picture__masonry_home .tile:hover img {
    opacity: 0.6;
}

.picture__masonry .tile:nth-child(3n),
.picture__masonry .tile:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
}
.picture__masonry .tile:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 1;
}
.picture__masonry .tile:nth-child(5n),
.picture__masonry .tile:nth-child(6n) {
    grid-column: span 1;
    grid-row: span 1;
}

.picture__masonry .tile img,
.picture__masonry_home .tile img {
    transition: opacity 300ms ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1280px) {
    .picture__masonry {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 250px;
    }
    .picture__masonry .tile:nth-child(4n) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 920px) {
    .picture__masonry_home {
        grid-template-columns: 1.4fr 2fr 1fr;
        grid-auto-rows: 200px;
    }
    .picture__masonry {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 250px;
    }
    .picture__masonry .tile:nth-child(4n) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 550px) {
    .picture__masonry_home {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
        grid-auto-rows: 150px;
    }
    .picture__masonry_home .tile:nth-child(3) {
        grid-column: span 2;
    }
    .picture__masonry {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width: 450px) {
    .picture__masonry {
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }
}

.landing__100 {
    width: 100%;
}

/* specials */
.landing__100 {
    width: 100%;
}
/* flagpack custom css */
.custom-fp {
    border: 1px solid #cfcfcf;
    margin-right: 10px;
}

/* Home */
.home .internal-space {
    max-width: 980px;
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
}
.home {
    display: flex;
    flex-direction: column;
}
.home-header {
    height: 70px;
    width: 100%;
    padding: 20px;
}

.home-search-box {
    height: calc(100vh - 137px);
    min-height: 280px;
    padding: 20px;
    display: flex;
}
.home-search-box h1 {
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
}
.home-search-box h1 .brand {
    width: 190px;
    height: 156px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../public/brand/animeshon-brand.svg');
}

.home-search-box h1 span {
    position: absolute;
    opacity: 0;
}

.home-search-box input.search-field {
    width: 100%;
    height: 58px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 29px;
    outline: none;
    text-indent: 20px;
    -webkit-appearance: none;
}
.home-search-box .btn {
    margin: 40px auto 150px;
}
.home-search-box input::placeholder {
    font-weight: 300;
    font-style: italic;
}

.home .home-search-box .internal-space {
    flex-direction: column;
}

.home-footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e8e8e8;
    min-height: 67px;
    padding: 0 20px;
}
.home-footer ul {
    flex: 1;
    list-style: none;
    height: 66px;
    display: inline-flex;
    align-items: center;
}
.home-footer ul li {
    display: inline-block;
    padding: 10px;
}
.home-footer ul li a {
    font-size: 14px;
    font-weight: lighter;
    color: #797979;
}
.home-footer p {
    justify-self: flex-end;
    font-size: 14px;
    margin: 0;
    line-height: 66px;
    color: #797979;
    display: contents;
}

.search-footer .internal-space {
    align-content: space-between;
    display: flex;
    max-width: 1040px;
    margin-left: 200px;
}

@media screen and (max-width: 768px) {
    .home-search-box {
        height: calc(100vh - 170px);
    }
    .home-search-box h1 {
        margin-bottom: 20px;
    }
    .home-search-box h1 .brand {
        width: 130px;
        height: 106px;
        margin-bottom: 0;
    }

    .home-search-box .btn {
        height: 36px;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .home-search-box input.search-field {
        height: 50px;
    }

    .home-footer {
        height: 100px;
    }

    .home-footer ul li {
        padding-top: 20px;
    }
    .home-footer ul li.no-xs {
        display: none;
    }

    .home-footer .internal-space {
        flex-direction: column;
    }

    .home-footer ul {
        justify-content: center;
        margin-bottom: 10px;
    }
    .home-footer p {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        display: block;
    }
}

@media screen and (max-height: 519px) {
    .home-search-box h1 .brand {
        width: 190px;
        height: 58px;
        background-image: url('../../public/brand/animeshon-brand-horizontal.svg');
    }
}


/* container */
.results-container {
    margin-bottom: 60px;
    margin-left: 220px;
    max-width: 1040px;
    display: flex;
}

.results-container .left-column {
    max-width: 640px;
    flex: 1;
    padding-right: 10px;
}
.results-container .right-column {
    min-width: 400px;
    padding-left: 10px;
}

@media screen and (max-width: 1280px) {
    .results-container {
        margin-left: 33px;
        max-width: 1040px;
    }
}

@media screen and (max-width: 940px) {

    .results-container .left-column,
    .results-container .right-column {
        max-width: 100%;
        width: 100%;
    }
    .results-container .left-column {
        padding-right: 0;
    }
    .results-container .right-column {
        padding-left: 0;
    }
}

@media screen and (max-width: 499px) {
    .results-container {
        margin-left: 33px;
        margin-right: 33px;
        max-width: 100%;
        width: 100%;
    }
}

.header-with-filter {
    display: flex;
}

.landing-section-box .header-with-double-filter {
    display: flex;
    margin-bottom: 60px;
}

.filter-container {
    position: absolute; 
    right: 0;
}

.search {
    margin: 0 0 5px 0;
}

.search__field {
    text-indent: 5px;
    max-width: 300px;
    width: 100%;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 0.25em;
    outline: none;
}

.custom-select {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    border: 1px solid #cfcfcf;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }