@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
}

html {
    font-family: 'Roboto', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #06aed5;
}

p {
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5;
}

b {
    font-weight: 700;
}

/* common pages typography */
.text-container {
    padding: 30px 35px;
}
.text-container section {
    margin-top: 20px;
}
.text-container h1 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.text-container h2 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.text-container h3 {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.text-container p {
    font-size: 12px;
    font-weight: 300;
    color: #4d4d4d;
}

.text-container strong {
    font-weight: 600;
}

/* buttons */
/* default */
.btn {
    border: none;
    padding: 0 10px;
    line-height: 32px;
    background-color: #cfcfcf;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

.btn.cherry-red {
    border: 1px solid #ef0c40;
    background-color: #ef0c40;
    color: #fff;
}

.btn.cyan-blue {
    border: 1px solid #06aed5;
    background-color: #06aed5;
    color: #fff;
}

.btn.cherry-red:hover {
    background-color: #fff;
    color: #ef0c40;
}

.btn.cyan-blue:hover {
    background-color: #fff;
    color: #06aed5;
}
.btn.default {
    min-width: 100px;
}
.btn.medium {
    font-size: 15px;
    width: 100px;
}
.btn.big {
    font-size: 15px;
    height: 44px;
    width: 130px;
}

.btn:disabled {
    color: #7f7f7f;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
}

.btn:disabled:hover {
    color: #7f7f7f;
    border: 1px solid #cfcfcf;
    background-color: #cfcfcf;
    cursor: not-allowed;
}

/* custom button only for cast card */
.btn.character-button-ref {
    width: 100%;
    height: 32px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: #1e7492;
    letter-spacing: unset;
    font-weight: 400;
    text-align: initial;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.btn.character-button-ref .character-image {
    flex: none;
    width: 30px;
    height: 30px;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border-radius: 5px;
}
.btn.character-button-ref .character-image img {
    max-width: 46px;
}
.btn.character-button-ref .character-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* default */

/* Top Hero image */
.hero-cover {
    /* TODO height attribute should be reset to 315px once a banner image is present */
    height: 130px;
    background-color: #000;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-cover__image {
    /* TODO display: none should be removed once the banner image would be present */
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.hero-cover__shade {
    /* TODO display: none should be removed once the banner image would be present */
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 210px;
    margin: auto;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.77),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.63),
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.49),
        rgba(0, 0, 0, 0.42),
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0.21),
        rgba(0, 0, 0, 0.14),
        rgba(0, 0, 0, 0.07),
        rgba(0, 0, 0, 0)
    );
    z-index: 0;
}
.hero-cover__title {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    width: 100%;
    max-width: 1440px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 295px;
    color: #fff;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 1024px) {
    .hero-cover__title {
        padding-left: 235px;
    }
}

@media screen and (max-width: 768px) {
    .hero-cover {
        height: 230px;
    }
    .hero-cover__title {
        display: none;
    }
}

/* Entity Title Bar */
.entity-title-bar {
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .entity-title-bar {
        font-size: 20px;
        padding: 0;
        margin: 20px 0 30px;
    }
    .entity-title-bar h1 {
        font-weight: 500;
        font-size: 24px;
        color: #1e7492;
    }
}

/* Generic Product / Person / Character Image */
.product-cover__image {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
}
.product-cover__image img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

/* Anime / Manga / Light-Novel / Games / Visual-Novels */
.hero-cover__title h1 {
    font-size: 30px;
}

main.landing__description {
    flex: 1;
}

.landing__details {
    width: 260px;
    min-width: 260px;
    margin-left: 35px;
    min-height: 120px;
    height: min-content;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

@media screen and (max-width: 1024px) {
    .landing__details {
        align-self: center;
        width: 100%;
        max-width: 500px;
        margin: 0;
    }
}

.landing-section-box {
    flex: 1;
    margin-bottom: 20px;
}
.landing-section-box .text_description {
    white-space: pre-wrap;
}
.landing-section-box header {
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    margin-bottom: 20px;
}
.landing-section-box header h3,
.landing-section-box header h4,
.landing-section-box header a {
    flex: none;
}
.landing-section-box header span {
    content: ' ';
    width: 100%;
    margin: 0 0 4px 10px;
    border-bottom: 1px solid #e0e0e0;
}

/* Landing Section Box exceptions */
.landing-section-box.watch-links {
    margin-bottom: 20px !important;
}

/* Episode Characters Appearences exceptions */
.header-w-back-button {
    align-content: space-around !important;
}
.header-w-back-button h3 {
    text-align: center;
    flex: 1 !important;
    width: auto;
}

/* Tab Navigation */
.tab-navigation {
    width: 100%;
    background-color: #e0e0e0;
    height: 44px;
}
.tab-navigation__list {
    margin-left: 280px;
}
.tab-navigation__mobile {
    display: none;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}
.overlay.invisible {
    opacity: 0;
    transition: 300ms ease-in-out;
    transform: translateY(2000%);
}
.overlay.visible {
    opacity: 1;
    transition: 300ms ease-in-out;
    transform: translateY(0%);
}
@media screen and (max-width: 1024px) {
    .tab-navigation__list {
        margin-left: 220px;
    }
}
@media screen and (max-width: 768px) {
    .tab-navigation__list {
        margin-left: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(200%);
        transition: 300ms ease-in-out;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    .tab-navigation__list.opened {
        transform: translateY(0%);
    }
    .tab-navigation__mobile {
        background-color: #cfcfcf;
        line-height: 41px;
        border: none;
        margin-left: 220px;
        display: block;
        width: calc(100% - 240px);
        text-align: left;
        padding-left: 15px;
        background-position: calc(100% - 10px) center;
        background-size: 30px;
        background-repeat: no-repeat;
        background-image: url('/icons/structure/caret_arrow_down.png');
    }
}

.tab-navigation__list-item {
    display: inline-block;
}
.tab-navigation__list-item.selected {
    background-color: #fff;
}
.tab-navigation__list-item a {
    display: inline-block;
    line-height: 44px;
    padding: 0 15px;
    color: #000;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.tab-navigation__list-item:not(:last-child) a {
    border-right: none;
}

@media screen and (max-width: 1024px) {
    .tab-navigation__list-item a {
        padding: 0 10px;
    }
}
@media screen and (max-width: 768px) {
    .tab-navigation__list-item,
    .tab-navigation__list-item a {
        border: none;
        width: 100%;
        padding-left: 10px;
        line-height: 50px;
    }
    .tab-navigation__list-item.selected {
        background-color: #efefef;
    }
}

/* 4 slots image lists */
.characters-list,
.adaptations-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.characters-list li a span,
.adaptations-list li a span {
    color: #1e7492;
    text-transform: capitalize;
}
.characters-list li,
.adaptations-list li {
    margin: 0 10px;
    text-align: center;
    max-width: 130px;
    margin-bottom: 20px;
}
.characters-list li .cover,
.adaptations-list li .cover {
    overflow: hidden;
    max-height: 130px;
    min-width: 130px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-items: center;
}

.characters-list li .cover img,
.adaptations-list li .cover img {
    object-fit: cover;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 130px;
}

.adaptations-list li .cover {
    max-height: 180px;
}

@media screen and (max-width: 875px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 100px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 100px;
        max-height: 100px;
    }
    .adaptations-list li .cover {
        max-height: 180px;
    }
}

@media screen and (max-width: 650px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 80px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 80px;
        max-height: 80px;
    }
    .adaptations-list li .cover {
        min-height: 120px;
    }
}

@media screen and (max-width: 549px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 150px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 150px;
        max-height: 150px;
    }
    .adaptations-list li .cover {
        min-height: 206px;
    }
}

@media screen and (max-width: 400px) {
    .characters-list li,
    .adaptations-list li {
        max-width: 119px;
    }
    .characters-list li .cover,
    .adaptations-list li .cover {
        min-width: 119px;
        max-height: 119px;
    }
    .adaptations-list li .cover {
        min-height: 170px;
    }
    .characters-list li .cover img {
        min-height: 119px;
    }
}

/* Details Box */
.details__table {
    margin-top: 20px;
}
.details__row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    font-size: 14px;
}
.details__row:last-child {
    margin-bottom: 0;
}
.details__key {
    font-weight: 700;
    width: 110px;
    margin-right: 10px;
}
.details__value {
    font-weight: 300;
    width: 100%;
    color: #6e6e6e;
    text-transform: capitalize;
    white-space: pre-wrap;
}
.details__value ul {
    list-style: none;
}
.details__value p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
}
.details__value p:last-child {
    margin-bottom: 0;
}
.details__breaker {
    margin: 20px 0;
    border: none;
    border-bottom: 1px dotted #cfcfcf;
}

/* Anime Episodes List */
.episodes-list__box,
.episode__box {
    display: flex;
    border-bottom: 1px dotted #dfdfdf;
    margin-bottom: 25px;
}

.episode__box {
    border: none;
}
.episodes-list__image,
.episode__image {
    padding: 0;
    margin: 0 20px 28px 0;
    border-radius: 5px;
    display: flex;
    flex: none;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    width: 270px;
    height: 160px;
    margin-right: 20px;
}

.episode__image {
    width: 300px;
    height: 200px;
}

.episodes-list__image img,
.episode__image img {
    height: 100%;
    object-fit: cover;
}

.episode-details__season-episode {
    margin-bottom: 8px;
    font-size: 14px;
}
.episode-details h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px;
    color: #1e7492;
}
.episode-details__length-date {
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0 10px;
}

.episode-details__description {
    margin-top: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .episodes-list__image,
    .episode__image {
        width: 200px;
        height: 120px;
    }
}

@media screen and (max-width: 650px) and (min-width: 550px) {
    .episodes-list__image,
    .episode__image {
        width: 200px;
        height: 120px;
    }
}

@media screen and (max-width: 550px) {
    .episodes-list__box,
    .episode__box {
        flex-direction: column;
    }
    .episodes-list__image,
    .episode__image {
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
    }
    .episodes-list__image img,
    .episode__image img {
        height: initial;
        width: 100%;
    }
}

/* common cards */
.grid-halves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.grid-halves {
    padding-left: 20px;
    list-style: circle;
}
.card {
    display: flex;
    width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #dfdfdf;
}
.card:nth-child(2n) {
    margin-left: 20px;
}

.card__image {
    width: 125px;
    height: 125px;
    margin: 0 20px 0 0;
    background-color: #efefef;
    border-radius: 5px;
    padding: 0;
    flex: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfdfdf;
}

.card__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: inherit;
}
.card__info h4 {
    font-weight: normal;
    font-size: 18px;
    color: #1e7492;
    margin-bottom: 4px;
}
.card__info p {
    margin: 0 0 7px 0;
}
.card__role {
    text-transform: capitalize;
    font-weight: normal;
}

.card__info h4,
.card__info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__info .btn {
    justify-self: flex-end;
    margin-top: 4px;
}

@media screen and (max-width: 1140px) {
    .card {
        width: 100%;
        flex-basis: 100%;
        margin: 0 0 25px 0;
    }
    .card:nth-child(2n) {
        margin-left: 0px;
    }
    .card__info {
        max-width: calc(100% - 140px);
    }
    .card__info h4,
    .card__info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 450px) {
    .card {
        width: calc(100vw - 40px);
        flex-basis: calc(100vw - 40px);
        margin: 0 0 25px 0;
    }
}

/* Staff section */
.expandable-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}
.expandable-section h4 {
    width: 100%;
}
.expandable-section h4 button {
    border: none;
    appearance: none;
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    width: 100%;
    padding: 0;
    outline: none;
    background-color: transparent;
}
.expandable-section h4 .label {
    flex: none;
    font-weight: 700;
}
.expandable-section h4 .line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    top: -3px;
    margin-left: 12px;
    align-self: flex-end;
}

.expandable-section h4 .toggler {
    border-left: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    transition: transform 300ms ease-in-out;
    transform: rotate(135deg) translateX(8px) translateY(-2px);
    height: 0px;
    width: 0px;
    margin: 0 0 0 20px;
    padding: 6px;
    position: relative;
    top: 4px;
}

.staff-members-holder {
    overflow: hidden;
    transition: 300ms ease-in-out;
    display: flex;
    flex-wrap: wrap;
}
.staff-members-holder.opened {
    margin-top: 25px;
    height: auto;
}
.staff-members-holder.closed {
    margin-top: 0;
    height: 0;
}

.expandable-section h4 .toggler.opened {
    transform: rotate(-45deg) translateX(0px) translateY(-6px);
}

/* External Platforms Links */
.grid-halves.manga-links {
    flex-direction: column;
}
.external-platform-button {
    padding: 10px 20px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: calc(25% - calc(40px / 3));
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.external-platform-button:nth-child(4n) {
    margin-right: 0;
}

.grid-halves.manga-links .external-platform-button {
    display: inline-flex;
    padding: 0;
    cursor: pointer;
}

.grid-halves.manga-links .links-row p {
    font-size: 14px;
    font-weight: 800;
    margin-top: 0;
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    .external-platform-button {
        width: calc(33% - calc(40px / 3));
    }
    .external-platform-button:nth-child(3n) {
        margin-right: 0;
    }
    .grid-halves.manga-links .external-platform-button:nth-child(3n) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .external-platform-button {
        width: calc(50% - calc(40px / 3));
    }
    .external-platform-button:nth-child(2n) {
        margin-right: 0;
    }
    /* Watch Links exceptions */
    .watch-links .grid-halves {
        display: flex;
        justify-content: center;
    }
    .grid-halves.manga-links .external-platform-button {
        width: calc(33% - calc(54px / 3));
        margin-right: 20px;
    }
}

@media screen and (max-width: 460px) {
    .grid-halves.manga-links .external-platform-button {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 440px) {
    .external-platform-button {
        width: 100%;
        margin-right: 0;
    }
}

/*  */
.view-all-link {
    margin-left: 12px;
}
.no-links-available,
.external-links {
    margin-bottom: 25px;
}

.no-links-available {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #7f7f7f;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Manga */
.manga-volumes {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    justify-content: flex-start;
    position: relative;
    left: -10px;
}
.volume-cover {
    margin: 0px 10px 30px 10px;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - calc(80px / 4));
    flex-basis: calc(25% - calc(80px / 4));
    transition: transform 300ms ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.volume-cover:hover {
    transform: scale(1.05);
}
.volume-cover img {
    width: 100%;
    height: 100%;
}

/* Manga from Chapters perspective */
.collected-in .volume-cover {
    width: calc(33% - calc(60px / 3));
    flex-basis: calc(33% - calc(60px / 3));
    position: relative;
}
.appears-on-hover {
    position: absolute;
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 10px;
    transition: background-color 300ms ease-in-out;
}

.collected-in .volume-cover:hover .appears-on-hover {
    background-color: rgba(0, 0, 0, 1);
}

.appears-on-hover h5,
.appears-on-hover p {
    color: #fff;
    margin: 5px 0;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .volume-cover {
        width: calc(33% - calc(58px / 3));
        flex-basis: calc(33% - calc(58px / 3));
    }
    .collected-in .volume-cover {
        width: calc(50% - calc(40px / 2));
        flex-basis: calc(50% - calc(40px / 2));
    }
}

@media screen and (max-width: 550px) {
    .volume-cover {
        width: calc(50% - calc(40px / 2));
        flex-basis: calc(50% - calc(40px / 2));
    }
}

@media screen and (max-width: 414px) {
    .volume-cover,
    .collected-in .volume-cover {
        width: calc(100%);
        flex-basis: calc(100%);
    }
}

/* Chapters */
.chapters-line {
    display: block;
    margin-bottom: 18px;
    width: 100%;
    line-height: 1.2;
}

/* Characters */
.picture__masonry {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;
}
.picture__masonry_home {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 1.4fr 2fr 1fr;
    grid-auto-rows: 250px;
}
.picture__masonry .tile,
.picture__masonry_home .tile {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #cfcfcf;
}
.picture__masonry .tile:hover img,
.picture__masonry_home .tile:hover img {
    opacity: 0.6;
}

.picture__masonry .tile:nth-child(3n),
.picture__masonry .tile:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
}
.picture__masonry .tile:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 1;
}
.picture__masonry .tile:nth-child(5n),
.picture__masonry .tile:nth-child(6n) {
    grid-column: span 1;
    grid-row: span 1;
}

.picture__masonry .tile img,
.picture__masonry_home .tile img {
    transition: opacity 300ms ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1280px) {
    .picture__masonry {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 250px;
    }
    .picture__masonry .tile:nth-child(4n) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 920px) {
    .picture__masonry_home {
        grid-template-columns: 1.4fr 2fr 1fr;
        grid-auto-rows: 200px;
    }
    .picture__masonry {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 250px;
    }
    .picture__masonry .tile:nth-child(4n) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 550px) {
    .picture__masonry_home {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
        grid-auto-rows: 150px;
    }
    .picture__masonry_home .tile:nth-child(3) {
        grid-column: span 2;
    }
    .picture__masonry {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width: 450px) {
    .picture__masonry {
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }
}

/* Characters appeareances */
.landing__100 {
    width: 100%;
}
.appearences__item {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    border-bottom: 1px dotted #bfbfbf;
}
.summary__box .appearences__item {
    width: 100%;
    margin-left: 0 !important;
}
.appearences__item:nth-child(2n) {
    margin-left: 20px;
}
.appearences__item figure {
    padding: 0;
    margin: 0 20px 0 0;
    max-width: 100px;
    overflow: hidden;
    border-radius: 5px;
}
.appearences__item figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.appearences__item-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.appearences__item-contents header {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}
.appearences__item-contents header h4,
.appearences__item-contents header h5 {
    margin-bottom: 8px;
}
.appearences__item-contents header h4 {
    color: #1e7492;
    font-weight: 400;
}
.appearences__item-contents header h5 {
    color: #656565;
    font-weight: 200;
}
.appearences__item-contents header p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.appearences__item-contents aside {
    justify-self: flex-end;
}
.appearences__item-contents aside p {
    margin: 5px 0;
    font-size: 12px;
    text-transform: capitalize;
}
.appearences__item-contents aside p:last-child {
    margin-bottom: 0;
}
.appearences__item-contents aside p span {
    margin: 0 10px;
    color: #cfcfcf;
}

@media screen and (max-width: 1180px) {
    .appearences__item {
        width: 100%;
        margin-left: 0 !important;
    }
}

/* Characters Voice Actors */
.voice-actor {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 24px;
}

.voice-actor figure {
    max-width: 150px;
    max-height: 216px;
    min-width: 120px;
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 0;
    border-radius: 5px 0 0 5px;
}
.voice-actor figure img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.voice-actor__descriptions header h4 {
    color: #1e7492;
    font-weight: 400;
}
.voice-actor__descriptions header h5 {
    color: #656565;
    font-weight: 200;
}

.voice-actor__descriptions header h4,
.voice-actor__descriptions header h5 {
    margin-bottom: 8px;
}

.voice-actor__descriptions header p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.voice-actor aside {
    flex: 1;
}
.voice-actor__descriptions {
    display: flex;
    margin: 20px;
    flex-direction: column;
    min-width: 180px;
    max-width: 200px;
    max-height: 196px;
    justify-content: space-between;
}
.voice-actor aside {
    margin: 20px 20px 20px 0;
    padding-left: 20px;
    border-left: 1px dotted #ddd;
    width: 100%;
    min-width: 200px;
}

.voice-actor aside h6 {
    font-size: 14px;
    margin-bottom: 10px;
}
.voice-actor aside h6 span {
    font-weight: 500;
}

.voice-actor aside p {
    line-height: 1.6;
    font-size: 14px;
    margin: 3px 0 3px;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.voice-actor aside .more_trigger {
    list-style: none;
}
.voice-actor aside .more_trigger button {
    border: none;
    appearance: none;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color: #ef0c40;
    cursor: pointer;
}

@media screen and (max-width: 930px) {
    .voice-actor aside {
        width: 100%;
    }
}
@media screen and (max-width: 635px) {
    .voice-actor__descriptions {
        flex: 1;
        min-width: unset;
        max-width: unset;
    }
    .voice-actor aside {
        margin: 0 20px 20px 20px;
        padding-left: 0;
        padding-top: 20px;
        border: none;
        border-top: 1px dotted #cfcfcf;
    }
}

@media screen and (max-width: 550px) {
    .voice-actor figure {
        max-width: 100px;
    }
    .voice-actor aside {
        min-width: 270px;
    }
}

/* specials */
.landing__100 {
    width: 100%;
}
/* flagpack custom css */
.custom-fp {
    border: 1px solid #cfcfcf;
    margin-right: 10px;
}

/* Home */
.home .internal-space {
    max-width: 980px;
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
}
.home {
    display: flex;
    flex-direction: column;
}
.home-header {
    height: 70px;
    width: 100%;
    padding: 20px;
}

.home-search-box {
    height: calc(100vh - 137px);
    padding: 20px;
    display: flex;
}
.home-search-box h1 {
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
}
.home-search-box h1 .brand {
    width: 190px;
    height: 156px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('/brand/animeshon-brand.svg');
}

.home-search-box h1 span {
    position: absolute;
    opacity: 0;
}

.home-search-box input.search-field {
    width: 100%;
    height: 58px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 29px;
    outline: none;
    text-indent: 20px;
}
.home-search-box .btn {
    margin: 40px auto 150px;
}
.home-search-box input::placeholder {
    font-weight: 300;
    font-style: italic;
}

.home .home-search-box .internal-space {
    flex-direction: column;
}

.home-footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e8e8e8;
    min-height: 67px;
    padding: 0 20px;
}
.home-footer ul {
    flex: 1;
    list-style: none;
    height: 66px;
    display: inline-flex;
    align-items: center;
}
.home-footer ul li {
    display: inline-block;
    padding: 10px;
}
.home-footer ul li a {
    font-size: 14px;
    font-weight: lighter;
    color: #797979;
}
.home-footer p {
    justify-self: flex-end;
    font-size: 14px;
    margin: 0;
    line-height: 66px;
    color: #797979;
    display: contents;
}

.search-footer .internal-space {
    align-content: space-between;
    display: flex;
    max-width: 1040px;
    margin-left: 200px;
}

@media screen and (max-width: 768px) {
    .home-search-box {
        height: calc(100vh - 170px);
    }
    .home-search-box h1 {
        margin-bottom: 20px;
    }
    .home-search-box h1 .brand {
        width: 130px;
        height: 106px;
        margin-bottom: 0;
    }

    .home-search-box .btn {
        height: 36px;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .home-search-box input.search-field {
        height: 50px;
    }

    .home-footer {
        height: 100px;
    }

    .home-footer ul li {
        padding-top: 20px;
    }

    .home-footer .internal-space {
        flex-direction: column;
    }

    .home-footer ul {
        justify-content: center;
        margin-bottom: 10px;
    }
    .home-footer p {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}

/* search */
/* header */
.search-header {
    z-index: 9999999;
    position: relative;
    height: 96px;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    display: flex;
    padding: 25px 33px;
    display: flex;
}

.search-header .brand {
    cursor: pointer;
    display: block;
    width: 148px;
    height: 46px;
    background: url('/brand/animeshon-brand-horizontal.svg');
    margin-right: 40px;
}

.search-header .brand span {
    font-size: 12px;
    opacity: 0;
}
.search-header .search-group {
    flex: 1;
    margin-right: 30px;
}
.search-header .search-input {
    text-indent: 20px;
    max-width: 500px;
    width: 100%;
    height: 44px;
    border: 1px solid #cfcfcf;
    border-radius: 22px;
    outline: none;
}
.search-header .hamburger-icon {
    display: block;
    height: 32px;
    width: 32px;
    padding: 3px 0;
    background-color: #fff;
    appearance: none;
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
    justify-self: flex-end;
    outline: none;
    cursor: pointer;
}
.search-header .hamburger-icon span {
    height: 1px;
    background-color: #7f7f7f;
    width: 100%;
    display: block;
}
.search-header .sidebar {
    transform: translateX(120%);
    transition: 300ms ease-in-out;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 260px;
    max-width: 280px;
}
.search-header .sidebar.opened {
    transform: translateX(0);
}
.search-header .sidebar ul {
    list-style: none;
}
.search-header .sidebar ul li {
    display: block;
}
.search-header .sidebar ul li a,
.search-header .sidebar ul li button {
    font-size: 14px;
    color: #656565;
    padding: 20px 30px;
    display: block;
    width: 100%;
    border: none;
    font-weight: 300;
    text-align: left;
    appearance: none;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}

.search-header .sidebar ul li a:hover,
.search-header .sidebar ul li a.selected,
.search-header .sidebar ul li button:hover {
    background-color: #f3f3f3;
    color: #000;
}

@media screen and (max-width: 1280px) {
}

/* container */
.results-container {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 220px;
    max-width: 1040px;
    display: flex;
}

.results-displayer {
    margin-top: 40px;
    max-width: 1040px;
    margin-left: 220px;
    display: block;
    margin-bottom: 40px;
    font-size: 13px;
    color: #7f7f7f;
    font-weight: 300;
}

.results-container .left-column {
    max-width: 640px;
    flex: 1;
    padding-right: 10px;
}
.results-container .right-column {
    min-width: 400px;
    padding-left: 10px;
}

.search-result {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #d6d6d6;
}
.search-result.primary-result {
    border-left-color: #f0c808;
    /*margin-bottom: 65px;*/
    margin-bottom: 35px;
}
.search-result.secondary-result {
    margin-bottom: 35px;
}

.search-result__row {
    display: flex;
    cursor: pointer;
}
.search-result__identity {
    min-width: 2px;
    min-height: 100%;
    background-color: #6e6e6e;
}

.search-result__contents {
    display: flex;
    flex-direction: row;
}

.search-result__image {
    margin: 0 8px 0 18px;
    min-width: 85px;
    max-width: 85px;
    /*min-height: 130px;*/
    max-height: 130px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.search-result__image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    align-self: flex-start;
}
.anime .search-result__image img,
.manga .search-result__image img,
.game .search-result__image img,
.people .search-result__image img {
    object-fit: cover;
}

.search-result__breadcrumb {
    margin-bottom: 10px;
    line-height: 0.5;
}
.search-result__breadcrumb span {
    font-size: 11px;
    color: #7f7f7f;
}

.search-result__breadcrumb span::after {
    content: ' ';
    margin: 0 6px 0 4px;
    width: 0;
    height: 0;
    transform: rotate(-135deg);
    display: inline-block;
    border-left: 3px solid #7f7f7f;
    border-bottom: 3px solid #7f7f7f;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
}

.search-result__breadcrumb span:last-child::after {
    display: none;
}

.search-result__texts {
    margin-left: 10px;
}

.search-result__texts h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -moz-box;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.search-result__texts p {
    font-size: 14px;
    margin: 5px 0;
    display: -webkit-box;
    display: -moz-box;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.search-result__texts strong {
    font-size: 14px;
    margin: 5px 5px 5px 0;
    display:inline;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.search-result__aside {
    flex: 1;
    display: flex;
    margin-left: 18px;
    flex-direction: column;
}

.search-result__aside h3 {
    font-size: 14px;
    font-weight: 800;
    margin: 15px 0;
}

.search-result__aside__item {
    display: flex;
    margin-right: 18px;
    width: 50%;
    cursor: pointer;
}

.search-result__aside__item:last-child {
    margin-right: 0;
}

.anime .search-result__aside__item figure,
.manga .search-result__aside__item figure {
    min-width: 100px;
    max-width: 100px;
    margin: 0 18px 0 0;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.anime .search-result__aside__item figure img,
.manga .search-result__aside__item figure img {
    object-fit: cover;
    max-width: 100%;
}
.manga .search-result__aside__item figure {
    min-width: 60px;
    max-width: 60px;
    border: 1px solid #dfdfdf;
}

.search-result__aside__texts p,
.search-result__aside__texts h4 {
    font-size: 14px;
    font-weight: 400;
}

.search-result__aside__texts h4,
.search-result__texts h2 {
    color: #1e7492;
    display: -webkit-box;
    display: -moz-box;
    -moz-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.search-result__aside__texts p {
    font-weight: 300;
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.search-result__more-trigger {
    display: flex;
    align-content: center;
    justify-content: center;
}

.search-result__more-trigger button {
    color: #1e7492;
    font-size: 14px;
    height: 24px;
    appearance: none;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 3px 15px;
    margin-top: -24px;
    position: relative;
    top: 40px;
}

.search-result__column {
    display: flex;
}

@media screen and (max-width: 1280px) {
    .results-container,
    .results-displayer {
        margin-left: 33px;
        max-width: 1040px;
    }
}

@media screen and (max-width: 940px) {
    .results-container,
    .results-displayer {
        margin-left: 33px;
        margin-right: 33px;
        max-width: calc(100% - 66px);
        width: calc(100% - 66px);
    }
    .results-container {
        flex-direction: column-reverse;
    }
    .results-container .left-column,
    .results-container .right-column {
        max-width: 100%;
        width: 100%;
    }
    .results-container .left-column {
        padding-right: 0;
    }
    .results-container .right-column {
        padding-left: 0;
    }
}

@media screen and (max-width: 630px) {
    .search-result__aside__item {
        width: 100%;
    }
    .search-result__aside__item:last-child {
        display: none;
    }
}

.header-with-filter {
    display: flex;
}

.landing-section-box .header-with-double-filter {
    display: flex;
    margin-bottom: 60px;
}

.filter-container {
    position: absolute; 
    right: 0;
}

.search {
    margin: 0 0 5px 0;
}

.search__field {
    text-indent: 5px;
    max-width: 300px;
    width: 100%;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 0.25em;
    outline: none;
}

.custom-select {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    border: 1px solid #cfcfcf;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  }