.card {
    display: flex;
    width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #dfdfdf;
}
.card:nth-child(2n) {
    margin-left: 20px;
}

.card__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: inherit;
    justify-content: space-around;
}
.card__info h4 {
    font-weight: normal;
    font-size: 18px;
    color: #1e7492;
    margin-bottom: 4px;
}
.card__info p {
    margin: 0 0 7px 0;
}
.card__role {
    text-transform: capitalize;
    font-weight: normal;
}

.card__info h4,
.card__info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__info .btn {
    justify-self: flex-end;
    margin-top: 4px;
}

.card:nth-last-child(1) {
    border-bottom: 0;
}
@media screen and (min-width: 1140px) {
    .card:nth-last-child(2):nth-child(odd) {
        border-bottom: 0;
    }
}

@media screen and (max-width: 1140px) {
    .card {
        width: 100%;
        flex-basis: 100%;
        margin: 0 0 25px 0;
    }
    .card:nth-child(2n) {
        margin-left: 0px;
    }
    .card__info {
        max-width: calc(100% - 140px);
    }
    .card__info h4,
    .card__info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 450px) {
    .card {
        width: calc(100vw - 40px);
        flex-basis: calc(100vw - 40px);
        margin: 0 0 25px 0;
    }
}