.share_buttons {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .share_buttons {
        float: left;
        margin-top: unset;
        width: calc(100% - 200px);
        border-top: unset;
    }
}